.profile__edit-button {
  background-color: transparent;
  background-image: url('../../../images/profile__edit-button.svg');
  background-position: center;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid #FFFFFF;
  display: block;
  align-self: flex-end;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}