.profile__edit-button {
  background-color: black;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid #FFFFFF;
  display: block;
  align-self: flex-end;
}

.profile__image-button {
  width: 10px;
}