.profile__edit-button {
  background-color: transparent;
  background-image: url('../../../images/profile__edit-button.svg');
  background-position: center;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  min-width: 24px;
  min-height: 24px;
  padding: 0;
  border: 1px solid #FFFFFF;
  align-self: flex-end;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 424.98px) {
  .profile__edit-button {
    min-width: 18px;
    min-height: 18px;
    background-size: 7.5px 7.5px;
  }
}