.profile__change-avatar-button {
  position: relative;
  border: none;
  background: inherit;
  display: block;
  width: 120px;
  padding: 0;
}

.profile__change-avatar-button:hover::after {
  content:'';
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url('../../../images/profile__edit-button.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 26px;
  cursor: pointer;
}

@media screen and (max-width: 424.98px) {
  .profile__change-avatar-button {
    margin: 0 auto;
  }
}