.header {
  padding: 45px 0 41px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 767.98px) {
  .header {
    padding: 28px 0;
    margin-bottom: 42px;
  }
} 