.profile__add-button {
  background-color: transparent;
  background-image: url('../../../images/profile__add-button.svg');
  background-size: 22px 22px;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 150px;
  min-height: 50px;
  padding: 0;
  border: 2px solid #FFFFFF;
  cursor: pointer;
}
  
.profile__add-button:hover {
  opacity: 0.6;
 }

 @media screen and (max-width: 767.98px) {
  .profile__add-button {
    margin: 30px auto 0;
    width: 100%;
  }
}

 @media screen and (max-width: 424.98px) {
   .profile__add-button {
    width: 100%;
    margin-top: 33px;
   }
 }

 