.popup__close {
  background: url('../../../images/popup__close.svg');
  background-color: transparent;
  border: none;
  padding: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}