.popup__close {
  background: url('../../../images/popup__close.svg');
  background-color: transparent;
  border: none;
  padding: 0;
  min-width: 32px;
  min-height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767.98px) {
  .popup__close {
    background-size: cover;
    min-width: 20px;
    min-height: 20px;
    top: -36px;
    right: 0;
  }
}