.profile__avatar {
  border-radius: 50%;
  display: block;
  min-height: 120px;
  position: relative;
  max-width: 120px;
  object-fit: cover;
}


@media screen and (max-width: 424.98px) {
  .profile__avatar {
    margin: 0 auto;
  }
}