.card__like {
  border: none;
  background: url('../../../images/card__like.svg') center no-repeat;
  background-size: 100%;
  min-width: 22px;
  min-height: 19px;
  align-self: end;
  cursor: pointer;
}

.card__like:hover {
  opacity: 0.5;
}