.popup__save-button {
  border: none;
  margin: 48px auto 0;
  width: 100%;
  min-height: 50px;
  background:  #000000;;
  border-radius: 2px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  padding: 14px 0 18px;
  cursor: pointer;
}

.popup__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767.98px) {
  .popup__save-button {
    min-height: 46px;
    padding: 14px 0;
    margin: 45px auto 0;
    font-size: 14px;
    line-height: 17px;
  }
}