.card__delete {
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  min-width: 18px;
  min-height: 19px;
  background: url('../../../images/card__delete.svg') center no-repeat;
  background-size: 100%;
  cursor: pointer;
}

.card__delete:hover {
  opacity: 0.5;
}